:root {
  --background: #1c2b3c;
  --number: #cfd2d4;
  --bouttoncolor: #254e83;
  --boutonhover: #3578c8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62, 5%;
}
body {
  background-color: var(--background);
  color: var(--number);
}
.title {
  display: flex;
  /* justify-content: center; */
  gap: 25rem;
}
h2 {
  margin-bottom: 1rem;
  text-align: center;
  /* width: 33%; */
  margin-top: 2rem;
  /* padding-left: 10rem; */
  color: red;
  font-size: 2.6rem;
}
section {
  display: flex;
  margin: 3em;
  gap: 3rem;
}
.tsif {
  display: flex;
  flex-direction: column;
  /* width: 38%; */
  width: 44em;
  position: relative;
  height: 300px;
}
.tsif > img {
  align-self: center;
}
.tsifbut {
  margin: 0 40px;
  /* height: 50%; */
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  top: 20em;
  left: 1rem;
}
.tsifbut > button {
  width: 11rem;
  height: 3rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  background-color: var(--bouttoncolor);
  &:first-of-type {
    /* position: absolute; */
    /* top: -2px;
    left: 137px; */
  }
  &:nth-of-type(2) {
    /* position: absolute; */
    top: -78px;
    left: 251px;
  }
  &:last-of-type {
    /* position: absolute; */
    top: -74px;
    left: -21px;
  }
}
.tsifbut > button:hover {
  background-color: var(--boutonhover);
  color: white;
  cursor: pointer;
}

.calcu {
  display: flex;
  flex-direction: column;
  margin: auto;
}
textarea {
  resize: vertical;
  text-align: right;
  height: 3rem;
  width: 416px;
  min-height: 3rem;
  max-height: 10rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 2px solid var(--bouttoncolor);
  padding: 0 1rem;
  color: white;
  font-size: 1.6rem;
}

.grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 4rem);
  button {
    text-align: center;
    line-height: 5rem;
    background-color: var(--bouttoncolor);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }
  button:hover {
    background-color: var(--boutonhover);
    color: red;
  }
}
.grid > button:first-child {
  background-color: rgb(188, 35, 35);
}
.grid > button:first-child:hover {
  background-color: red;
  color: white;
  font-size: 2.2rem;
}
.grid > button:nth-child(17) {
  grid-column: span 2;
  width: 12rem;
}

@media screen and (max-width: 848px) {
  section {
    display: block;
    width: 700px;
  }
  .tsif {
    margin-bottom: 5rem;
  }
  .calcu {
    justify-content: center;
    align-items: center;
  }
}
